.header {
	.site-title, .site-description {
		font-size:  1.63636em; //1.97273em;
		padding: 0.22em 0;
		
		text-align: right;
		color: $clouds;
	}
	.site-title {
		a {
			text-decoration: none;
		}
	}
}