.respond {
	max-width: 100%;

	button {
		@extend button;
		background: $midnight-blue;
		&:hover {
			@extend button:hover;
			background: $wet-asphalt;
		}
	}

	form {
		div {
			margin-bottom: 1.0em;
			label {
				display: block;
				margin-bottom: 0.5em;
			}
			input[type=text], input[type=email], textarea {
				max-width: 100%;
				padding: 3%;
				background: $wet-asphalt;	
				color: $clouds;
				border: solid $clouds 1px;
				border-radius: 0.5em;
			}
		}

		input[type=submit] {
			@extend button;
			background: $midnight-blue;
			&:hover {
				@extend button:hover;
				background: $wet-asphalt;
			}
		}
	}
}

// .js .respond {
// 	display: none;
// }