/*
*	Default styles for elements used throughout the site
*/

body {
	background-color: $midnight-blue;
}

header {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;

	height: $header-height;

	color: $clouds;
	background-color: $midnight-blue;
}