/*
*	Default styles for elements used throughout the site
*/

body {
	max-width: 100%;
	background-color: $midnight-blue;
}

header {

	height: $header-height;

	padding: 0 5px;
	
	color: $clouds;
	background-color: $midnight-blue;
}

footer.copyright {
	text-align: right;
	background-color: $midnight-blue;
}

/*
* Text elements
*/

p {
	@include calc('padding-bottom', $base-line-height * 2em);
}

ul {
	margin-left: 5%;
	@include calc('padding-bottom', $base-line-height * 2em);
	
	list-style: circle outside none;
	
	li {

	}
}

ol {
	margin-left: 5%;
	@include calc('padding-bottom', $base-line-height * 2em);
	
	list-style: lower-roman outside none;
	
	li {

	}
}

blockquote, q {
	width: 80%;
	margin: auto;

	font-style: italic;
	line-height: 150%;

	padding: 5%;

	border: solid $clouds 1px;
	border-radius: 0 1em;
	
	@include calc('padding-bottom', $base-line-height * 1em);
	
	p {
		padding: 0;
	}
}

cite {
	padding: 1% 2%;

	float: right;
	position: relative;
	top: -0.8em;
	left: -0.8em;
	
	background-color: indianred;

	border: solid $clouds 1px;
	border-radius: 4px;
}

/*
* Code - highlighing is done by highlight.js
*/

pre {
	border: solid $sunflower 1px;
	border-radius: 0 1em;
	@include calc('margin-bottom', $base-line-height * 2em);
	
	code {
		font-size: 80%;
		padding: 1.0em !important;
		border-radius: 0 1em;
	}
}

/*
* Button styles
*/

button {
	padding: 4%;

	@include calc('font-size', 0.8*$base-font-size);

	background: $midnight-blue;
	color: $clouds;
	border: solid $clouds 1px;
	
	border-radius: 0.5em;
	&:hover {
		background: $wet-asphalt;
		border: solid $sunflower 1px;
		a {
			text-decoration: none;
		}
	}
}

/*
* Images
*/

img {
	max-width: 100%;

	margin: 0;
	
	&.alignleft {
		margin: 3px 10px 10px 0;
	}
	
	&.alignright {
		margin: 3px 0 10px 10px;
	}
}

iframe {
	max-width: 100%;
}