/*
*
*/

$font-size: 100%;				//	1.0em, 16px
$line-height: 1.333;		//	4/3 * $font-size

@font-face {
	font-family: halion;
	src: url('fonts/halion.ttf'),
     	 url('fonts/halion.svg'); /* IE4+ */
}

html, body {
	font: $font-size halion, serif;
	line-height: $line-height;
	color: $black;
}

h1, h2, h3 {
	margin-top:0;
	margin-bottom:0;
}

// Fibonacci scale factor 13
h1 {
	font-size: 4.27273em;
	padding: 1.36142em 0;
}

// Fibonacci scale factor 8
h2 {
	font-size: 2.63636em;
	padding: 1.35597em 0;
}

// Fibonacci scale factor 5
h3 {
	font-size: 1.63636em;
	padding: 1.37em 0;
}

a {
	color: $red;
	&:hover {
		color: $red;
	}
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
 color:#a9a9a9;
}

textarea:-moz-placeholder {
 color:#a9a9a9;
}
