/*
*	Typography is in line with the golden ration derived from the Fibonacci sequence
* the ratio of H1:H1:H3 is 13:8:5
*/

/**

body { font-size:100%; line-height:1.33333; text-align:center; }
#page { margin:0 auto; border:1px solid #fff; width:40.5em; min-height:57.2756em; }
#textblock { margin: -2.0290695454545435em 9em 9em 4.5em; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:4.27273em; padding:1.36142em 0; }
h2 { font-size:2.63636em; padding:1.35597em 0; }
h3 { font-size:1.63636em; padding:1.37em 0; }

**/

$font-size: 100%;				//	1.0em, 16px
$line-height: 1.333;		//	4/3 * $font-size

@font-face {
	font-family: halion;
	src: url('fonts/halion.ttf'),
     	 url('fonts/halion.svg'); /* IE4+ */
}

html, body {
	//font: $font-size halion, serif;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: $regular;
	line-height: $line-height;
	color: $clouds;
}

h1, h2, h3 {
	margin-top:0;
	margin-bottom:0;
}

// Fibonacci scale factor 13
h1 {
	font-size: 4.27273em;
	font-weight: $regular;
	padding: 1.36142em 0;
}

// Fibonacci scale factor 8
h2 {
	font-size: 2.63636em;
	font-weight: $regular;
	padding: 1.35597em 0;
}

// Fibonacci scale factor 5
h3 {
	font-size: 1.63636em;
	font-weight: $regular;
	padding: 1.37em 0;
}

a {
	color: $silver;

	text-decoration: none;
	&:hover {
		color: $silver;
		text-decoration: underline;
	}
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
 color:#a9a9a9;
}

textarea:-moz-placeholder {
 color:#a9a9a9;
}
