/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
	font: 13px Helmet, Freesans, sans-serif;
	color: $black;
}

a {
	color: $red;
	&:hover {
		color: $red;
	}
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
 color:#a9a9a9;
}

textarea:-moz-placeholder {
 color:#a9a9a9;
}