// Colours
// $white: #ffffe5;
// $off-white: #E6E6CE;
// $l-grey: #BFBFAC;
// $d-grey: #808073;
// $black: #2B2B27;
// $red: #BF503B;

//http://flatuicolors.com/

//greens
$tuquoise: #1abc9c;
$greensea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;

//yellow
$sunflower: #f1c40f;
//orange
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
//red
$alizarin: #e74c3c;
$pomegranite: #c0392b;
//blue
$peter-river: #3498db;
$belize-hole: #2980b9;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
//purple
$amethyst: #9b59b6;
$wisteria: #8e44ad;
//grey
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$silver: #bdc3c7;
//white
$clouds: #ecf0f1;

// Font weights
$light: 100;
$regular: 300;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 100%;
$base-line-height: 1.333;

// Fixed Font
$fixed-font-family: "Lucida Console", Monaco, monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Metrics
$header-height: 40px;
