.l-content {
	transition: .3s all ease;			
	width: 100%;
	//account for fixed header 40px tall
	padding-top: 40px;

	background-color: $midnight-blue;
	color: $clouds;
}

.no-js .l-content {
	padding: 5%;
}

.js .l-content {
	margin-left: 0%;
	//float: left;
}