.l-content {
	transition: .3s all ease;			
	width: 100%;
	//account for fixed header 40px tall
	padding-top: 40px;
	//min-height: 100%;
}

.no-js .l-content {
	width: 90%;
	padding: 5%;
}

.js .l-content {
	margin-left: 0%;

	background-color: $black;
	color: $white;
}