$nav-width: 260px;

$nav-header-height: $header-height;
$nav-header-margin: 5px;

$nav-item-margin: 10px;
$nav-item-padding: 10px;

.l-nav {
	background-color: hotpink;

	transition: .3s all ease;			
	width: 100%;
	min-height: 100%;
}

.no-js .l-nav {
	padding: 5%;
}

.js .l-nav {
	margin-left: -100%;
	float: left;
}