$nav-width: 260px;

$nav-header-height: $header-height;
$nav-header-margin: 5px;

$nav-item-margin: 10px;
$nav-item-padding: 10px;

.l-nav {
	background-color: $wet-asphalt;

	transition: .3s all ease;			
	width: 100%;
	min-height: 100%;

	font-size:  1.63636em;

	//
	.nav-header {
		height: 40px;
		padding: 0 10px;
		.icn-toggle {
			font-size: 1.14em;
			padding: 0;
			i {
				margin-left: 0.2em;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}

	//nav list
	ul {
		// reset default ul styles
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			
			transition: background-color 0.1s ease;

			padding-left: 5%;

			border-top: solid $midnight-blue 1px;
			border-bottom: solid $midnight-blue 1px;
			border-radius: 0 1em 1em 0;

			&:hover {
				border-right: solid $midnight-blue 1px;
				background-color: $orange;
			}
			a {
				//
				font-weight: $regular;
				&:hover {
					text-decoration: none;
					color: $clouds;
				}
			}
		}
	}
}

.no-js .l-nav {
	padding: 5%;
}

.js .l-nav {
	margin-left: -100%;
	float: left;
}