.l-sidebar {
	transition: .3s all ease;			
	width: 100%;
	min-height: 100%;

	//account for fixed header 40px tall
	padding-top: 40px;
	
	background-color: $alizarin;
}

.no-js .l-sidebar {
	padding: 5%;
}

.js .l-sidebar {
	margin-right: -100%;
	float: right;
}