.active-sidebar {
	overflow: hidden;
}

.active-sidebar .l-nav {
	margin-left: -200%;
}
.active-sidebar .l-content {
	//THIS IS THE PESKY FLOAT
	float: left;
	margin-left: -100%;
}
.active-sidebar .l-sidebar {
	margin-right: 0%;
}