/*
* Media queries
*/

@media screen
and (min-width : $mobile-upper) {
	.no-js {
		.l-nav {
			position: relative;
			top: 30px;
			
			padding: 10px 5%;

			.searchWrapper {
				color: red !important;
				padding-left: 10px;
				margin-top: 0px
			}
		}
	}
}

@media screen
and (min-width : $mobile-upper)
and (max-width : $sm-tablet-upper) {
	.js .active-nav {
		.l-nav {
			width: 85%;
			margin-left: 0%;
			float: left;
		}
		.l-content {
			margin-left: 85%;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.post-wrapper {
		//max-width: 71.4%;
		.post {
			//padding: 4em;
			.entry {
				max-width: 530px;
			}
		}
	}
}

@media screen
and (min-width : $sm-tablet-upper) {
	//layout
	.js {
		.nav-toggle {
			display: none;
		}
		.l-nav {
			width: 30%;
			margin-left: 0%;
			float: left;
		}
		.l-content {
			width: 70%;
			max-width: 575px;
			margin: 0 20% 0 30%;
		}
	}
	.post {
		padding: 4em;
		.entry {
			max-width: 530px;
		}
	}
}